html,
body,
main {
    background-color: #f8f9fa;
    min-height: 768px;
}

nav {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.container {
    width: 690px;
    background-color: #fff;
    height: 100%;
}

.content-wrapper {
    height: 100%;
}

.content-wrapper img {
    max-width: 100%;
    height: auto;
}

#blog-image-edit {
    height: 100px;
    width: auto;
    margin-bottom: 20px;
}
